@if (User.Identity.IsAuthenticated)
{
    if(User.HasClaim("Department", "Admin")){ 
    <form method="post"  asp-page="/Items/GetAllItems">
         <button type ="submit" class="nav-link text-dark btn shadow-none">Item Directory</button>
     </form>
    }
}
else
{
}