@{
    ViewData["Logstatus"] = "Login";
}
<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Absence</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-bg border-bottom box-shadow mb-3">
            <div class="container webkit">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">Absence</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Shop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Delivery">Do a Delivery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        @*@if (ViewData["Logstatus"] == "Logout")
                        {
                            <li id="logout" class="nav-item">
                                <form method="post">
                                    <button type="submit" class="nav-link btn btn-link"></button>
                                </form>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
                            </li>
                        }*@
                        @*else
                        {*@
                            <li id="LoginLink" class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/login">login</a>
                            </li>
                        @*}*@





                    </ul>
                    <div id="LoggedInMenu" class="dropdown invisible">
                        <button class="navbar-toggler-icon btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Account">Account</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Orders">My Orders</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/MyDeliveries">My Deliveries</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container webkit">
            &copy; 2021 - Absence - <a class="link-light" asp-area="" asp-page="/Privacy">Privacy</a> - <a class="link-light" asp-area="" asp-page="/About">About us </a>- <a class="link-light" asp-area="" asp-page="/Contact">Contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
