@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Testing shit out</p>
</div>

<div class="container">
    <div class="row ">
        <div class="col-sm">
            <button class="btn btn-secondary btn-sm">Login</button>
        </div>
        <div class="col-sm">
            <button class="btn btn-secondary btn-sm">Orders</button>
        </div>
        <div class="col-sm">
             <button class="btn btn-secondary btn-sm">Shop</button>
        </div>
    </div>
</div>
